html, body, div, table, tr, th, td, span, h1, h2, p {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

header{
	text-align: center;
}

body {
	line-height: 1.2em;
}

h1 {
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 20px;
}

div[id=scores] div {
	text-align: center;
}

div[id=columns] div {
	width: 33%;
}

.one ul {
	list-style-type: square;
}

.one ol {
	list-style-type: hebrew;
}

.two ul {
	list-style-type: circle;
}

.two ol {
	list-style-type: lower-greek;
}

.three ul {
	list-style-type: none;
}

.three ol {
	list-style-type: upper-roman;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.3em;
}

img {
	margin: 10px;
}

table{
	display: inline-table;
	border: thin solid darkred;
	border-collapse: collapse;
	width: 20%;
	margin: 0.5em;
}

td{
	width: 50%;
	padding: 0.5em;
}

th {
	font-size: 0.8em;
	padding: 0.5em;
	vertical-align: center;
}

tfoot td {
	background-color: grey;
}

tfoot th, .team {
	background-color: #FF944D;
}

.loser {
	font-size: 1.5em;
	background-color: lightgrey;
}

.winner {
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: bold;
	background-color: grey;
}

.left {
	float: left;
}

.right {
	float: right;
}

.one {
	background-color: grey;
	display: inline-block;
	vertical-align: top;
}

.two {
	background-color: lightgrey;
	display: inline-block;
	vertical-align: top;
}

.three {
	background-color: grey;
	display: inline-block;
	vertical-align: top;
}
