html, body, div, table, tr, th, td, span, h1, h2, p {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

header{
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 50px;
}

div[id=scores] div {
	text-align: center;
}

table{
	display: inline-table;
	border-style: thin solid red;
	width: 20%;
}

